{% extends 'GrievancesSystem_app/base.html' %}
{% load static %}

{% block page_name %}403{% endblock %}

{% block stylesheets %}
    {% include 'GrievancesSystem_app/lib/_styles.html' %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
 {% endblock %}

<small>{% block page_description %}Error 403{% endblock %}</small>

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">403</li>
    </ol>
{% endblock %}

{% block content %}
<div class="error-page">
        <h2 class="headline text-danger"> 403</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-danger"></i> Oops! You are not authorised to view this page.</h3>

          <p>
            We could not show the page you were looking for.
            Meanwhile, you may <a href="{% url "redirecttologin" %}">return to dashboard</a>.
          </p>

{#          <form class="search-form">#}
{#            <div class="input-group">#}
{#              <input type="text" name="search" class="form-control" placeholder="Search">#}
{##}
{#              <div class="input-group-btn">#}
{#                <button type="submit" name="submit" class="btn btn-danger btn-flat"><i class="fa fa-search"></i>#}
{#                </button>#}
{#              </div>#}
{#            </div>#}
{#            <!-- /.input-group -->#}
{#          </form>#}
        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
{% endblock %}


{% block javascript %}
    {% include 'GrievancesSystem_app/lib/_scripts.html' %}
{% endblock %}