{% extends 'BioStarAttendanceReportApp/base.html' %}
{% load render_table from django_tables2 %}
{% block page_name %}CategoryWise Reports{% endblock %}
{% block title %}CategoryWise Reports{% endblock %}
{% load static %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">CategoryWise Reports</li>
    </ol>
{% endblock %}
{% block content %}

    <!-- Default box -->
    <div class="box">
    <div class="box-header with-border">
{#        <h3 class="box-title">CategoryWise Reports</h3>#}

    </div>

    <div class="box-body">

    <form method="get">
                {% csrf_token %}
                {{ filter.form.as_p }}
                <button type="submit" class="btn btn-primary">Search</button>
                <button type="submit" name="csv" class="btn btn-primary">Generate Report</button>
            </form>
    <h4>Total Open Complaints : {{ opencomplaintcount }}</h4> <p></p>
    <h4>Total Closed Complaints : {{ closedcomplaintcount }}</h4>

<!--            {% render_table table "widgets/mytable.html" %}-->

    </div>
   
{% endblock %}


{% block javascript %}
    {% include 'GrievancesSystem_app/lib/_scripts.html' %}
    <script src="{% static "bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" %}"></script>
    <script>
        $('#id_datetime__gt').datepicker({
            autoclose: true, format: 'yyyy-mm-dd',
        });
        $('#id_datetime__lt').datepicker({
            autoclose: true, format: 'yyyy-mm-dd',
        });
    </script>
{% endblock %}