{% extends "GrievancesSystem_app/popup_base.html" %}


{% block content %}
<div class = "container">
	<h1>Add New</h1>
	<form method = 'POST' action= '' enctype = "multipart/form-data" novalidate id = "author-form">{% csrf_token %}
		{{form.as_p}}
		<input type="submit" value = "Submit" />
	</form>
</div>
{% endblock %}