{% include "django/forms/widgets/select.html" %}

    <style>
        #{{ widget.attrs.id }}_add, #{{ widget.attrs.id }}_change, #{{ widget.attrs.id }}_delete {
            margin-top: 10px;
            padding: 0 10px;
            height: 25px;
            line-height: 25px;
        }
    </style>

    <a class="layui-btn layui-btn-mini" id="{{ widget.attrs.id }}_add">
        add
    </a>
    <a class="layui-btn layui-btn-mini layui-btn-disabled" id="{{ widget.attrs.id }}_change">
        change
    </a><a class="layui-btn layui-btn-mini layui-btn-disabled" id="{{ widget.attrs.id }}_delete">
        delete
    </a>

    <script>
        $('#{{ widget.attrs.id }}_add').click(function () {
            alert("dgdgdg");
            var index = layui.layer.open({
                title: "add_category",
                type: 2,
                area: ['700px', '500px'],
                content: "{{ add_url }}" + '?popup=1&to_field={{ widget.attrs.id }}',
                success: function (layer, index) {

                }
            });
        });

        $("#{{ widget.attrs.id }}_change").click(function () {
            var id = $('#{{ widget.attrs.id }}').val();
            if (id) {
                var index = layui.layer.open({
                    title: "change_category",
                    type: 2,
                    area: ['700px', '500px'],
                    content: '{{ update_url }}' + id + '?popup=1&to_field={{ widget.attrs.id }}',
                    success: function (layer, index) {

                    }
                });
            }
        });

        $("#{{ widget.attrs.id }}_delete").click(function () {
            var id = $('#{{ widget.attrs.id }}').val();
            var value = $('#{{ widget.attrs.id }} option[value=' + id + ']').text();
            var indexGood = value.lastIndexOf('>');
            var valueN = indexGood > 0 ? value.substring(indexGood + 1, value.length) : value;
            if (id) {
                layer.confirm('corform delete' + valueN + ' ?', {icon: 3, title: 'delete'}, function (index) {
                    $.ajax({
                        type: "POST",
                        data: {},
                        url: '{{ delete_url }}' + id + '/',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                        },
                        success: function (data, textStatus) {
                            layer.close(index);
                            $('#{{ widget.attrs.id }} option[value=' + data.id + ']').remove();
                            $("#{{ widget.attrs.id }}_change,#{{ widget.attrs.id }}_delete").addClass('layui-btn-disabled');

                            return false;
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            layer.alert('delete failed' + XMLHttpRequest.responseText)
                        }
                    });
                });
            }
        });

        function {{ widget.attrs.id }}_isDisabled() {
            if ($('#{{ widget.attrs.id }}').val()) {
                $("#{{ widget.attrs.id }}_change,#{{ widget.attrs.id }}_delete").removeClass('layui-btn-disabled');
            } else {
                $("#{{ widget.attrs.id }}_change,#{{ widget.attrs.id }}_delete").addClass('layui-btn-disabled');
            }
        }

        $('#{{ widget.attrs.id }}').change(function () {
            {{ widget.attrs.id }}_isDisabled();
        });

        {{ widget.attrs.id }}_isDisabled();
    </script>