{% extends "password_recovery/base.html" %}{% load i18n %}

{% block title %}{% trans "New password set" %}{% endblock %}

{% block body_class %}
    hold-transition lockscreen
{% endblock %}


{% block body %}

    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo">
            <a href="{% url "sample_login" %}"><b>Admin</b>LTE</a>
        </div>
        <p>{% trans "Your password has successfully been reset. You can use it right now on the login page." %}</p>
        <div class="text-center">
            <a href="{% url "sample_login" %}">Take me to the Login Page</a>
        </div>
    </div>

{% endblock %}
