{% extends "password_recovery/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password recovery" %}{% endblock %}

{% block body_class %}
    hold-transition lockscreen
{% endblock %}

{% block body %}
    <div class="lockscreen-wrapper">

      <div class="lockscreen-logo">
        <a href="{% url "sample_login" %}"><b>Admin</b>LTE</a>
      </div>
        <form method="post" action="{{ url }}">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="{% trans "Recover my password" %}"></p>
        </form>
        <div class="text-center">
            <a href="{% url "sample_login" %}">Or sign in as a different user</a>
        </div>
    </div>
{% endblock %}
