{% extends "password_recovery/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password recovery sent" %}{% endblock %}

{% block body_class %}
    hold-transition lockscreen
{% endblock %}

{% block body %}
    <div class="lockscreen-wrapper">

        <div class="lockscreen-logo">
            <a href="{% url "sample_login" %}"><b>Admin</b>LTE</a>
        </div>

	    <p>{% blocktrans with ago=timestamp|timesince %}An email was sent to <strong>{{ email }}</strong> {{ ago }} ago. Use the link in it to set a new password.{% endblocktrans %}</p>

        <div class="text-center">
            <a href="{% url "sample_login" %}">Take me to the Login Page</a>
        </div>
    </div>
{% endblock %}
