{% extends 'GrievancesSystem_app/base.html' %}
{% load static %}
{% block page_name %}Student Dashboard{% endblock %}
<small>{% block page_description %} Student Dashboard{% endblock %}</small>
{% block title %}Dashboard{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Student Dashboard</li>
    </ol>
{% endblock %}

{% block content %}


    <!-- Default box -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{ today|date:"d-m-Y" }}</h3>
                    <p>Today</p>
                </div>
                <div class="icon">
                    <i class="ion ion-location"></i>
                </div>
                <a href="" class="small-box-footer">More info <i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ complaints }}</h3>
                    <p>Total Complaints</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="{% url 'gres_individual_complaint_list' %}" class="small-box-footer">More info <i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3> {{ opencomplaints }}</h3>
                    <p>Total Open Complaints</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="{% url 'gres_opencomplaint_user_list' %}" class="small-box-footer">More info <i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">

                    <h3> {{ closedcomplaints }}</h3>
                    <p>Total Closed Complaints</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="{% url 'gres_closecomplaint_user_list' %}" class="small-box-footer">More info <i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
    <!-- /.row -->




{% endblock %}

{% block javascript %}
    {% include 'GrievancesSystem_app/lib/_scripts.html' %}

{% endblock %}