{% extends 'GrievancesSystem_app/base.html' %}
{% load static %}

{% block page_name %}{% endblock %}
{% block title %}Edit User Status{% endblock %}
{% block stylesheets %}
    {% include 'GrievancesSystem_app/lib/_styles.html' %}
    <link rel="stylesheet" type="text/css"
          href="{% static "bower_components/fullcalendar/dist/fullcalendar.min.css" %}">

{% endblock %}

<small>{% block page_description %} User Status {% endblock %}</small>

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">User Status Edit</li>
    </ol>
{% endblock %}

{% block content %}<div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title"> Edit User Status</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form" action="" method="post">{% csrf_token %}
                    <div class="box-body">

                        {{ form.as_p }}

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right">Edit User Status</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

{% endblock %}

{% block javascript %}
    {% include 'GrievancesSystem_app/lib/_scripts.html' %}
    <script src="{% static "bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" %}"></script>
    <script>
        $('#dob').datepicker({
                  autoclose: true, format: 'yyyy-mm-dd',
        });
        $('#date_of_join').datepicker({
                  autoclose: true, format: 'yyyy-mm-dd',
        });
    </script>
{% endblock %}

