{% extends 'GrievancesSystem_app/base.html' %}
{% load render_table from django_tables2 %}
{% block page_name %} List Student{% endblock %}
{% block title %}Student List{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> List Student</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="box collapsed-box">
        <div class="box-header">
            <h3 class="box-title">Filter</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <form method="get">
                {% csrf_token %}
                {{ filter.form.as_p }}
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        <!-- /.box-body -->

        <!-- /.box-footer-->
    </div>


    <!-- Default box -->
    <div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Student List</h3>

    </div>

    <div class="box-body">

        {% render_table table "widgets/mytable.html" %}
    </div>
   
{% endblock %}


