{% load adminlte_helpers %}
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        {% block user_panel %}
            <div class="user-panel">

                <div class="pull-left image">
                    {#                    {% if user.employee.image %}#}
                    {#                        <img src="{{ user.employee.image.url }}" class="img-circle" alt="User Image" style="width:45px;height: 45px;#}
                    {#                        ;">#}
                    {#                    {% endif %}#}
                    <img src="{% avatar_url size=90 %}" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>{{ current_user.nickname }}</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
        {% endblock %}
        <!-- sidebar menu: : style can be found in sidebar.less -->
        {% block nav_links_ul %}
            <ul class="sidebar-menu">
                {% block nav_links_outer %}
                    <li class="header">{% block nav_heading %}RIT Application{% endblock %}</li>
                    {% block nav_links %}



                            <li class="{{ active_admin_dash|default:"" }}">
                                <a href="{% url 'biostar_admin_dashboard' %}">
                                    <i class="fas fa-tachometer-alt"></i> <span> Dashboard</span>
                                </a>
                            </li>

                             <li class="treeview {{ active_gres_profile|default:"" }}">
                                <a href="{% url 'biostar_admin_report_view' %}">
                                    <i class="fa fa-user"></i>
                                    <span>Report Generation</span>
                                    <span class="pull-right-container">
                                <span class="label label-primary pull-right"></span>
                                </span>
                                </a>
<!--                                <ul class="treeview-menu">-->
<!--                                    <li class="{{ active_gres_profile_view|default:"" }}">-->
<!--                                        <a href="{% url 'biostar_admin_dashboard' %}">-->
<!--                                            <i class="label label-primary pull-right"></i><i-->
<!--                                                class="fas fa-angle-right"></i>Report-->
<!--                                        </a>-->

<!--                                    </li>-->
<!--                                    <li class="{{ active_gres_profile_add|default:"" }}"><a-->
<!--                                            href="{% url 'biostar_admin_dashboard' %}"><i class="fas fa-angle-right"></i>-->
<!--                                        Add</a>-->
<!--                                    </li>-->
<!--                                    <li class="{{ active_gres_profile_list|default:"" }}"><a-->
<!--                                            href="{% url 'biostar_admin_dashboard' %}"><i class="fas fa-angle-right"></i>-->
<!--                                        List</a>-->


<!--                                    </li>-->

<!--                                </ul>-->
                            </li>












                    {% endblock nav_links %}
                {% endblock nav_links_outer %}
            </ul>
        {% endblock nav_links_ul %}
    </section>
    <!-- /.sidebar -->
</aside>
