{% load adminlte_helpers i18n %}
<header class="main-header">
    <!-- Logo -->
    {% block logo %}
        <a href="{% block logo_href %}/{% endblock %}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">{% block logo_text_small %}<b>Bio</b>Star{% endblock %}</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">{% block logo_text %}<b>Attendance Report</b>{% endblock %}</span>
        </a>
    {% endblock %}

    <!-- Header Navbar: style can be found in header.less -->
    {% block nav_bar %}
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    {% block header_dropdowns %}
                        {% if request.user.is_authenticated %}
                            <li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell"></i>
                                    <span class="label label-warning">{{ notification_count }}</span>
                                </a>
                                <ul class="dropdown-menu">




                                </ul>
                            </li>
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="{% avatar_url size=50 %}" class="user-image" alt="User Image">
                                    <span class="hidden-xs">{% firstof request.user.get_short_name request.user.get_username %}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    {% block user_header %}
                                        <li class="user-header">
                                            <img src="{% avatar_url size=180 %}" class="img-circle" alt="User Image">
                                            <p>
                                                {% firstof request.user.get_short_name request.user.get_username %}
                                                <small>Member since {{ request.user.date_joined }}</small>
                                            </p>
                                        </li>
                                    {% endblock %}

                                    <!-- Menu Footer-->
                                    {% block menu_footer %}
                                        <li class="user-footer">

                                            <div class="pull-right">
                                                <a href="{% url "biostar_login" %}" class="btn btn-default btn-flat">Sign
                                                    out</a>
                                                {#                                        <a href="{% block logout_url %}{% logout_url %}{% endblock %}" class="btn btn-default btn-flat">Sign out</a>#}
                                            </div>
                                        </li>
                                    {% endblock %}

                                </ul>
                            </li>
                        {% endif %}
                    {% endblock header_dropdowns %}
                </ul>
            </div>
        </nav>
    {% endblock %}
</header>

<script type="text/javascript">
    function myFunction() {

        var url = $("#notification").attr("data-cities-url");
        var userid = $("#id_user").val();
        var notificationid = $("#id_notification").val();
        var response = $("#id_reponse").val();


        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-complaints/)
            data: {
                'user': userid,       // add the user id to the GET parameters
                'complaint': response,       // add the user id to the GET parameters
                'notificationid': notificationid       // add the user id to the GET parameters
            }

        });


    }

    function myComplaint() {

        var url = $("#complaint_notitication").attr("data-cities-url");
        var notification_complaint_id = $("#notification_complaint_id").val();


        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-complaints/)
            data: {
                'notification_complaint_id': notification_complaint_id,       // add the user id to the GET parameters

            }

        });


    }

</script>