{% load static %}

{% block scripts %}
<script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "bower_components/jquery-ui/jquery-ui.min.js" %}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %} "></script>
<script src="{% static "bower_components/fastclick/lib/fastclick.js" %} "></script>
<script src="{% static "admin-lte/dist/js/app.min.js" %}"></script>
<script>
    console.log("LOADED BASE SCRIPTS");
</script>
{% endblock %}
