{% extends 'GrievancesSystem_app/base.html' %}
{% load static %}

{% block page_name %}
    <small>Change Password</small>{% endblock %}
{% block title %}Change Password{% endblock %}
{% block stylesheets %}
    {% include 'GrievancesSystem_app/lib/_styles.html' %}
    <link rel="stylesheet" type="text/css" href="{% static "plugins/timepicker/bootstrap-timepicker.min.css" %}">
{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">

        <li class="active">Change Password</li>
    </ol>
{% endblock %}
{% block content %}
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Change Password </h3>
        </div>
        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}


            <button type="submit" class="btn btn-primary"> Change Password</button>
        </form>

        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
{% endblock %}
{% block javascript %}
    {% include 'GrievancesSystem_app/lib/_scripts.html' %}


{% endblock %}