{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#	<title>Grievances System - Forget Password</title>#}
{#	<meta charset="UTF-8">#}
{#	<meta name="viewport" content="width=device-width, initial-scale=1">#}
{#<!--===============================================================================================-->	#}
{#	<link rel="icon" type="image/png" href="{% static 'GrievancesSystem_app/login1/images/icons/favicon.ico' %}"/>#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="{% static 'GrievancesSystem_app/login1/vendor/bootstrap/css/bootstrap.min.css' %}"/>#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="{% static 'GrievancesSystem_app/login1/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"/>#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="{% static 'GrievancesSystem_app/login1/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}"/>#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="{% static 'GrievancesSystem_app/login1/fonts/iconic/css/material-design-iconic-font.min.css' %}"/>#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="{% static 'GrievancesSystem_app/login1/vendor/animate/animate.css' %}"/>#}
{#<!--===============================================================================================-->	#}
{#	<link rel="stylesheet" type="text/css" href="{% static 'GrievancesSystem_app/login1/vendor/css-hamburgers/hamburgers.min.css' %}"/>#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="{% static 'GrievancesSystem_app/login1/vendor/animsition/css/animsition.min.css' %}"/>#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="{% static 'GrievancesSystem_app/login1/vendor/select2/select2.min.css' %}"/>#}
{#<!--===============================================================================================-->	#}
{#	<link rel="stylesheet" type="text/css" href="{% static 'GrievancesSystem_app/login1/vendor/daterangepicker/daterangepicker.css' %}"/>#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="{% static 'GrievancesSystem_app/login1/css/util.css' %}"/>#}
{#	<link rel="stylesheet" type="text/css" href="{% static 'GrievancesSystem_app/login1/css/main.css' %}"/>#}
{#<!--===============================================================================================-->#}
{#</head>#}
{#<body style="background-color: #999999;">#}
{#	#}
{#	<div class="limiter">#}
{#		<div class="container-login100">#}
{#			<div class="login100-more" style="background-image: url('{% static 'GrievancesSystem_app/login1/images/bg-01.jpg' %}');"></div>#}
{##}
{#			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">#}
{#				<form action="{% url 'gres_forget_password' %}" class="login100-form validate-form" method="post"> {% csrf_token %}#}
{#					<span class="login100-form-title p-b-59">#}
{#						Forget Password#}
{#					</span>#}
{##}
{#					<div class="wrap-input100 validate-input" data-validate="Email is required">#}
{#						<span class="label-input100">Email or Mobile</span>#}
{#						<input class="input100" type="text" name="{{ form.email }}" placeholder="Email...">#}
{#						<span class="focus-input100"></span>#}
{#					</div>#}
{##}
{##}
{#                    {% if error %}#}
{#                        <div class="flex-m w-full p-b-33">#}
{#                                <p class="text-danger">#}
{#                                    {{ error }}#}
{#                                </p>#}
{#                        </div>#}
{#                    {% endif %}#}
{##}
{#                    {% if success %}#}
{#                        <div class="flex-m w-full p-b-33">#}
{#                                <p class="text-success">#}
{#                                    {{ success }}#}
{#                                </p>#}
{#                        </div>#}
{#                    {% endif %}#}
{##}
{#					<div class="container-login100-form-btn">#}
{#						<div class="wrap-login100-form-btn">#}
{#							<div class="login100-form-bgbtn"></div>#}
{#							<button class="login100-form-btn" type="submit">#}
{#								Send password reset link to Email#}
{#							</button>#}
{#						</div>#}
{##}
{#						<a href="{% url 'gres_login' %}" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">#}
{#							Log In#}
{#							<i class="fa fa-long-arrow-right m-l-5"></i>#}
{#						</a>#}
{#					</div>#}
{##}
{#				</form>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#	#}
{#<!--===============================================================================================-->#}
{#	<script src="{% static 'GrievancesSystem_app/login1/vendor/jquery/jquery-3.2.1.min.js' %}"></script>#}
{#<!--===============================================================================================-->#}
{#	<script src="{% static 'GrievancesSystem_app/login1/vendor/animsition/js/animsition.min.js' %}"></script>#}
{#<!--===============================================================================================-->#}
{#	<script src="{% static 'GrievancesSystem_app/login1/vendor/bootstrap/js/popper.js' %}"></script>#}
{#	<script src="{% static 'GrievancesSystem_app/login1/vendor/bootstrap/js/bootstrap.min.js' %}"></script>#}
{#<!--===============================================================================================-->#}
{#	<script src="{% static 'GrievancesSystem_app/login1/vendor/select2/select2.min.js' %}"></script>#}
{#<!--===============================================================================================-->#}
{#	<script src="{% static 'GrievancesSystem_app/login1/vendor/daterangepicker/moment.min.js' %}"></script>#}
{#	<script src="{% static 'GrievancesSystem_app/login1/vendor/daterangepicker/daterangepicker.js' %}"></script>#}
{#<!--===============================================================================================-->#}
{#	<script src="{% static 'GrievancesSystem_app/login1/vendor/countdowntime/countdowntime.js' %}"></script>#}
{#<!--===============================================================================================-->#}
{#	<script src="{% static 'GrievancesSystem_app/login1/js/main.js' %}"></script>#}
{##}
{#</body>#}
{#</html>#}


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Grievances System - Forget Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'GrievancesSystem_app/login1/images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'GrievancesSystem_app/login1/vendor/bootstrap/css/bootstrap.min.css' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'GrievancesSystem_app/login1/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'GrievancesSystem_app/login1/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'GrievancesSystem_app/login1/fonts/iconic/css/material-design-iconic-font.min.css' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'GrievancesSystem_app/login1/vendor/animate/animate.css' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'GrievancesSystem_app/login1/vendor/css-hamburgers/hamburgers.min.css' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'GrievancesSystem_app/login1/vendor/animsition/css/animsition.min.css' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'GrievancesSystem_app/login1/vendor/select2/select2.min.css' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'GrievancesSystem_app/login1/vendor/daterangepicker/daterangepicker.css' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'GrievancesSystem_app/login1/css/util.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'GrievancesSystem_app/login1/css/main.css' %}"/>
    <!--===============================================================================================-->
</head>
<body style="background-color: #999999;">

<div class="limiter">
    <div class="container-login100">
        <div class="login100-more"
             style="background-image: url('{% static 'GrievancesSystem_app/login1/images/bg-01.jpg' %}');"></div>

        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
            {% if error %}
                    <div class="flex-m w-full p-b-33">
                        <p class="text-danger">
                            {{ error }}
                        </p>
                    </div>
                {% endif %}

                {% if success %}
                    <div class="flex-m w-full p-b-33">
                        <p class="text-success">
                            {{ success }}
                        </p>
                    </div>
                {% endif %}
            <form action="{% url 'gres_forget_password' %}" class="login100-form validate-form"
                  method="post"> {% csrf_token %}
                <span class="login100-form-title p-b-59">
						Forget Password
					</span>
                {#                <div class="wrap-input100 validate-input" data-validate="Email is required">#}
                {#                {{ form }}#}
                {#                </div>#}
                <div class="wrap-input100 validate-input" data-validate="Email is required">
                    <span class="label-input100">Email</span>
                    <input class="input100" type="text" name="{{ form.email.name }}" placeholder="Email ...">
                    <span class="focus-input100"></span>
                </div>
                {#					<div class="wrap-input100 validate-input" data-validate="Email is required">#}
                {#						<span class="label-input100">Email or Mobile</span>#}
                {#						<input class="input100" type="text" name="{{ form.email }}" placeholder="Email...">#}
                {#						<span class="focus-input100"></span>#}
                {#					</div>#}


                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="submit">
                            Send password reset link to Email
                        </button>
                    </div>

                    <a href="{% url 'gres_login' %}" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                        Log In
                        <i class="fa fa-long-arrow-right m-l-5"></i>
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>

<!--===============================================================================================-->
<script src="{% static 'GrievancesSystem_app/login1/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'GrievancesSystem_app/login1/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'GrievancesSystem_app/login1/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'GrievancesSystem_app/login1/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'GrievancesSystem_app/login1/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'GrievancesSystem_app/login1/vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'GrievancesSystem_app/login1/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'GrievancesSystem_app/login1/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'GrievancesSystem_app/login1/js/main.js' %}"></script>

</body>
</html>