{% extends 'GrievancesSystem_app/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block page_name %}Modals{% endblock %}

{% block stylesheets %}
    {% include 'GrievancesSystem_app/lib/_styles.html' %}
    <link rel="stylesheet" type="text/css"
          href="{% static "plugins/iCheck/square/blue.css" %}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
{% endblock %}

{% block body_class %}
    hold-transition login-page
{% endblock %}


{% block body %}
    <div class="login-box">
        <div class="login-logo">

            <a href="{% url "gres_login" %}"><b>Grievance redressal systems</b></a>

        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>

            <form action="{% url 'gres_login' %}" method="post"> {% csrf_token %}
                <input type="hidden" name="next" value="{{ redirect_to_url }}"/>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Username" name="{{ form.username.name }}" required="true">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password" name="{{ form.password.name }}" required="true">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                 <div class="form-group has-feedback">
                    <select class="form-control"  name="typename" required="true">
                        <option>Select Your Role</option>
                        {% for types in type %}
                             <option>{{ types.name }}</option>
                        {% endfor %}

                    </select>
{#                    <span class="glyphicon glyphicon-arrow-down form-control-feedback"></span>#}
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <p class="text-danger">{{ error }}</p>
                            </label>
                        </div>
                        {#                        <div class="checkbox icheck">#}
                        {#                            <label>#}
                        {#                                <input type="checkbox"> Remember Me#}
                        {#                            </label>#}
                        {#                        </div>#}
                        {#                        <div class="icheck">#}
                        {#                              <label>#}
                        {#                                  <a href="{% url "password_reset_recover" %}"> Forget Password</a>#}
                        {#                            </label>#}
                        {#                        </div>#}
                    </div>
                    <div class="g-recaptcha" data-sitekey="6LfuWDgUAAAAAK14AxyedBcGjvikbtWmAo1baj6j"></div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            {#    <div class="social-auth-links text-center">#}
            {#      <p>- OR -</p>#}
            {#      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using#}
            {#        Facebook</a>#}
            {#      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using#}
            {#        Google+</a>#}
            {#    </div>#}
            {#    <!-- /.social-auth-links -->#}

            {#    <a href="{% url "password_reset_recover" %}">I forgot my password</a><br>#}

        </div>
        <!-- /.login-box-body -->
    </div>

{% endblock %}


{% block javascript %}
    {% include 'GrievancesSystem_app/lib/_scripts.html' %}
    <script src="{% static "plugins/iCheck/icheck.min.js" %}"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>

{% endblock %}