{% extends 'GrievancesSystem_app/base.html' %}

{% load static %}

{#<html lang="en">#}
{#  <head>#}
{#    <meta charset="utf-8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">#}
{#    <!--[if lt IE 9]>#}
{#      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>#}
{#      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>#}
{#    <![endif]-->#}
{#    <style type="text/css">#}
{#      .page-header {#}
{#        margin-top: 0;#}
{#      }#}
{#    </style>#}
{#  </head>#}
{#  <body>#}

{#    {% include 'includes/header.html' %}#}
{#  </body>#}
{#</html>#}

{#{% block content %}#}
{#  <form method="post" action="{% url 'clear_database' %}">#}
{#    {% csrf_token %}#}
{#    <input type="hidden" name="next" value="{{ request.path }}">#}
{#    <button type="submit" class="btn btn-danger pull-right">#}
{#      <span class="glyphicon glyphicon-trash"></span> Clear Database#}
{#    </button>#}
{#  </form>#}
{##}
{##}
{#{% endblock %}#}


{#{% extends 'GrievancesSystem_app/base.html' %}#}
{#{% load static %}#}
{##}
{% block page_name %}{% endblock %}
{% block title %}Complaint Registration{% endblock %}
{% block stylesheets %}
    {% include 'GrievancesSystem_app/lib/_styles.html' %}
    <link rel="stylesheet" type="text/css"
          href="{% static "bower_components/fullcalendar/dist/fullcalendar.min.css" %}">
    <link rel="stylesheet" type="text/css"
          href="{% static "bower_components/bootstrap-daterangepicker/daterangepicker.css" %}">
    <link rel="stylesheet" type="text/css"
          href="{% static "bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "plugins/iCheck/all.css" %}">
    <link rel="stylesheet" type="text/css"
          href="{% static "bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "plugins/timepicker/bootstrap-timepicker.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bower_components/select2/dist/css/select2.min.css" %}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static "admin-lte/dist/css/select2.min.css" %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css"/>
 {{ form.media.css }}
    <style>
    .select2-container--default .select2-selection--multiple
    {
         border: 1px solid #d2d6de;
         border-radius: 1px;
         width: 950px;
    }
</style>

{% endblock %}

<small>{% block page_description %} Complaint {% endblock %}</small>

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> Complaint Registration </li>
    </ol>
{% endblock %}


     <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title"> Complaint Registration </h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="box-body">
                        <!-- input states -->
                        {{ form.as_p }}

    <div class="container">
      {% block content %}
           <div class="row">
    <div class="col-md-3">

      </div>
    </div>
    <div class="col-md-9">
{#      {% block photos_content %}#}
          <div style="margin-bottom: 20px;">
    <button type="button" class="btn btn-primary js-upload-photos">
      <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos
    </button>
    <input id="fileupload" type="file" name="file" multiple
           style="display: none;"
           data-url="{% url 'basic_upload' %}"
           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
  </div>

  <table id="gallery" class="table table-bordered">
    <thead>
      <tr>
        <th>Files</th>
      </tr>
    </thead>
    <tbody style="height: 300px; overflow: scroll">
      {% for photo in photos %}
        <tr >
          <td ><a href="{{ photo.file }}">{{ photo.file }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{#      {% endblock %}#}
    </div>
  </div>
      {% endblock %}
    </div>
{#{% block javascript %}#}

{#{% endblock %}#}
{#                    </div>#}
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right">Add </button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
  window.onerror = function (msg) {
    $("body").attr("JSError", msg);
  }
</script>
{{ form.media.js }}

{% block javascript %}
    {% include 'GrievancesSystem_app/lib/_scripts.html' %}
{#    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>#}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  <script src="{% static 'js/basic-upload.js' %}"></script>
    <script src="{% static "admin-lte/dist/js/select2.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" %}"></script>
    <script>
        $('#id_datetime').datetimepicker({
            showInputs: false,
            showMeridian: false,
            autoclose: true
        });
    </script>

{% endblock %}

