{% extends 'GrievancesSystem_app/base.html' %}
{% load static %}

{% block page_name %}{% endblock %}
{% block title %}Add Profile{% endblock %}
{% block stylesheets %}
    {% include 'GrievancesSystem_app/lib/_styles.html' %}
    <link rel="stylesheet" type="text/css"
          href="{% static "bower_components/fullcalendar/dist/fullcalendar.min.css" %}">
    <link rel="stylesheet" type="text/css"
          href="{% static "bower_components/bootstrap-daterangepicker/daterangepicker.css" %}">
    <link rel="stylesheet" type="text/css"
          href="{% static "bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "plugins/iCheck/all.css" %}">
    <link rel="stylesheet" type="text/css"
          href="{% static "bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "plugins/timepicker/bootstrap-timepicker.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bower_components/select2/dist/css/select2.min.css" %}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static "admin-lte/dist/css/select2.min.css" %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css"/>
    <link rel="stylesheet" type="text/css"
          href={% static "admin/css/base.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
    <!-- Ionicons -->
    <link rel="stylesheet" type="text/css" href="{% static "admin-lte/dist/css/AdminLTE.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin-lte/dist/css/skins/_all-skins.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "icheck/skins/square/blue.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "conflicts/conflicts.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">

    <script type="text/javascript" src="{% static "/admin/jsi18n/" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/actions.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/urlify.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/prepopulate.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/vendor/xregexp/xregexp.js" %}"></script>
    {{ form.media.css }}



{% endblock %}


<small>{% block page_description %} Profile {% endblock %}</small>

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> Add Profile</li>
    </ol>
{% endblock %}



{% block content %}
    <form enctype="multipart/form-data" action="" method="post" id="profile_form" novalidate><input type='hidden'
                    <div class="box-body">
                        <!-- input states -->
                        {{ form.as_p }}

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right">Add Department </button>
                    </div>
                    <!-- /.box-footer -->                                                                                 name='csrfmiddlewaretoken'
                                                                                                    value='vdep17QuPzfk1FH4264LEMishhUfg1SR10yBdDU1fwTHD8Kix4ybf0RuoLqVJNOa'/>
        <div>


            <fieldset class="module aligned ">


                <div class="form-row field-type">


                    <div>


                        <label class="required" for="id_type">Type:</label>

                        <div class="related-widget-wrapper">
                            <select name="type" required id="id_type">
                                <option value="" selected>---------</option>

                                <option value="3">Administrator</option>

                                <option value="4">Moderator</option>

                                <option value="5">Parent</option>

                                <option value="2">Student</option>

                                <option value="1">Teacher</option>

                            </select>

                            <a class="related-widget-wrapper-link change-related" id="change_id_type"
                               data-href-template="/admin/auth/group/__fk__/change/?_to_field=id&amp;_popup=1"
                               title="Change selected group"><img src="/static/admin/img/icon-changelink.svg"
                                                                  alt="Change"/></a><a
                                class="related-widget-wrapper-link add-related" id="add_id_type"
                                href="/admin/auth/group/add/?_to_field=id&amp;_popup=1"
                                title="Add another group"><img src="/static/admin/img/icon-addlink.svg"
                                                               alt="Add"/></a><a
                                class="related-widget-wrapper-link delete-related" id="delete_id_type"
                                data-href-template="/admin/auth/group/__fk__/delete/?_to_field=id&amp;_popup=1"
                                title="Delete selected group"><img src="/static/admin/img/icon-deletelink.svg"
                                                                   alt="Delete"/></a>

                        </div>


                    </div>

                </div>

                <div class="form-row field-user">


                    <div>


                        <label class="required" for="id_user">User:</label>

                        <div class="related-widget-wrapper">
                            <select name="user" required id="id_user">
                                <option value="" selected>---------</option>

                                <option value="14">elementz</option>

                                <option value="21">parent2</option>

                                <option value="1">rit</option>

                                <option value="20">stud2</option>

                                <option value="23">student3</option>

                                <option value="22">teacher2</option>

                                <option value="15">test_admin</option>

                                <option value="16">test_moderator</option>

                                <option value="18">test_parent</option>

                                <option value="19">test_student</option>

                                <option value="17">test_teacher</option>

                            </select>

                            <a class="related-widget-wrapper-link change-related" id="change_id_user"
                               data-href-template="/admin/auth/user/__fk__/change/?_to_field=id&amp;_popup=1"
                               title="Change selected user"><img src="/static/admin/img/icon-changelink.svg"
                                                                 alt="Change"/></a><a
                                class="related-widget-wrapper-link add-related" id="add_id_user"
                                href="/admin/auth/user/add/?_to_field=id&amp;_popup=1"
                                title="Add another user"><img src="/static/admin/img/icon-addlink.svg" alt="Add"/></a><a
                                class="related-widget-wrapper-link delete-related" id="delete_id_user"
                                data-href-template="/admin/auth/user/__fk__/delete/?_to_field=id&amp;_popup=1"
                                title="Delete selected user"><img src="/static/admin/img/icon-deletelink.svg"
                                                                  alt="Delete"/></a>

                        </div>


                    </div>

                </div>

                <div class="form-row field-mobile">


                    <div>


                        <label class="required" for="id_mobile">Mobile:</label>

                        <input type="text" name="mobile" required id="id_mobile" maxlength="20" class="vTextField"/>


                    </div>

                </div>

                <div class="form-row field-email">


                    <div>


                        <label for="id_email">Email:</label>

                        <input type="email" name="email" id="id_email" maxlength="254" class="vTextField"/>


                    </div>

                </div>

                <div class="form-row field-name">


                    <div>


                        <label class="required" for="id_name">Name:</label>

                        <input type="text" name="name" required id="id_name" maxlength="250" class="vTextField"/>


                    </div>

                </div>

                <div class="form-row field-designation">


                    <div>


                        <label class="required" for="id_designation">Designation:</label>

                        <input type="text" name="designation" required id="id_designation" maxlength="250"
                               class="vTextField"/>


                    </div>

                </div>

                <div class="form-row field-address">


                    <div>


                        <label class="required" for="id_address">Address:</label>

                        <input type="text" name="address" required id="id_address" maxlength="500" class="vTextField"/>


                    </div>

                </div>

                <div class="form-row field-department">


                    <div>


                        <label class="required" for="id_department">Department:</label>

                        <div class="related-widget-wrapper">
                            <select name="department" required id="id_department">
                                <option value="" selected>---------</option>

                                <option value="1">Arts</option>

                                <option value="2">Sciences</option>

                                <option value="3">Mathematics</option>

                            </select>

                            <a class="related-widget-wrapper-link change-related" id="change_id_department"
                               data-href-template="/admin/GrievancesSystem_app/department/__fk__/change/?_to_field=id&amp;_popup=1"
                               title="Change selected department"><img src="/static/admin/img/icon-changelink.svg"
                                                                       alt="Change"/></a><a
                                class="related-widget-wrapper-link add-related" id="add_id_department"
                                href="/admin/GrievancesSystem_app/department/add/?_to_field=id&amp;_popup=1"
                                title="Add another department"><img src="/static/admin/img/icon-addlink.svg" alt="Add"/></a><a
                                class="related-widget-wrapper-link delete-related" id="delete_id_department"
                                data-href-template="/admin/GrievancesSystem_app/department/__fk__/delete/?_to_field=id&amp;_popup=1"
                                title="Delete selected department"><img src="/static/admin/img/icon-deletelink.svg"
                                                                        alt="Delete"/></a>

                        </div>


                    </div>

                </div>

                <div class="form-row field-status">


                    <div>


                        <label class="required" for="id_status">Status:</label>

                        <select name="status" id="id_status">
                            <option value="Active">Active</option>

                            <option value="Inactive">Inactive</option>

                            <option value="Pending">Pending</option>

                        </select>


                    </div>

                </div>

            </fieldset>


            <div class="submit-row">
                <input type="submit" value="Save" class="default" name="_save"/>


                <input type="submit" value="Save and add another" name="_addanother"/>
                <input type="submit" value="Save and continue editing" name="_continue"/>
            </div>


            <script type="text/javascript"
                    id="django-admin-form-add-constants"
                    src="/static/admin/js/change_form.js"

                    data-model-name="profile"
            >
            </script>


            <script type="text/javascript"
                    id="django-admin-prepopulated-fields-constants"
                    src="/static/admin/js/prepopulate_init.js"
                    data-prepopulated-fields="[]">
            </script>


        </div>
    </form>






    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
        window.onerror = function (msg) {
            $("body").attr("JSError", msg);
        }
    </script>
    {{ form.media.js }}

{% endblock %}
{% block javascript %}
    {% include 'GrievancesSystem_app/lib/_scripts.html' %}
    <script src="{% static "admin-lte/dist/js/select2.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" %}"></script>
    <script>
        $('#id_datetime').datetimepicker({
            showInputs: false,
            showMeridian: false,
            autoclose: true
        });
    </script>
    <script src="{% static  "jquery/dist/jquery.min.js" %}"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static  "admin-lte/dist/js/app.min.js" %}"></script>


{% endblock %}

